.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px - 71px);
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  .info {
    text-align: center;

    button {
      font-size: 24px;
      height: 60px;
    }
  }
}
